# Pasta target (arquivos compilados e builds)
target/

# Configurações do Maven Wrapper que não precisam ser versionadas
.mvn/
**/mvnw
**/mvnw.cmd

# Arquivos de configuração do IDE (VSCode, IntelliJ, Eclipse)
.vscode/
*.iml
.idea/

# Logs e arquivos temporários
*.log

# Credenciais sensíveis (exemplo: configurações locais)
application.properties
application.yml
